<%- include('./common/header')%>
<link rel="stylesheet" href="/CSS/dashboardstyle.css">
<script scr="/JS/createvotingprocess_page.js"></script>
</head>
<body>
  <%- include('./common/navbar') %>

      <div class="cards-container">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">New Voting Process</h5>
            <h6 class="card-subtitle mb-2 text-muted">fast process</h6>
            <p class="card-text">A simple and easy way to conduct voting under a single click. This system is immune to minimize any fraud and protect privacy of all voters.</p>
            <a href="/create-voting-process" class="card-link">Create Voting Process</a>
          </div>
        </div>   

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Manage Voting Process</h5>
            <h6 class="card-subtitle mb-2 text-muted">Manage </h6>
            <p class="card-text">Manage all the different voting system and improve quality of conducting it.</p>
            <a href="/manage-voting-process" class="card-link">Manage Voting Process</a>
          </div>
        </div>     

    </div>
<%- include('./common/footer')%>

