<%- include('./common/header')%>
<link rel="stylesheet" href="CSS/login_page.css">
</head>
<body>

<h1 class="display-6 text-center text-white p-3 "> Online Voting System </h1>

<div class="form-container">
    <div class="form-desc"> CODEGEN </div>
    <form class="form-details" action="/emailconfirm" method="post">    
        <input type="password" name="code" id="password" placeholder="password">
        <input type="submit" class="btn btn-primary" value="Confirm"> 
        <% if(typeof(err)!="undefined") { %>
            <div class="alert alert-danger p-0 pt-1" role="alert">
                <ul>
                    <% for(let i=0;i<err.length;i++){ %>
                        
                        <li><%= err[i] %></li>

                    <% } %>
                </ul>
            </div>
        <% } %>
    </form>
    <form class="form-details" action="/resendemailconfirm" method="post">
        <input class="btn btn-primary" type="submit" value="Resend code">
    </form>
    <div class="change-button">
    <a href="/">
        <button class="btn register-button" onclick="">LOGIN</button>
    </a>
</div>
</div>


<%- include('./common/footer')%>